


footer {
    background: #282828;
    height: 180px;
    width: 100%;
    padding-top: 60px;
    margin-top: 30px;
    .box {
        margin: 0 auto;
        width: 1200px;
        display: flex;
        justify-content: space-between;
        height: 100%;
        color: #666;
        height: 100%;
    }
    .more {
        display: flex;
        font-size: 14px;
        li {
            cursor: pointer;
        }
        li:not(:last-child) {
            margin-right: 40px;
        }
    }
    .contact {
        display: flex;
        li {
            cursor: pointer;
        }
        li:not(:last-child) {
            margin-right: 40px;
        }
    }
}